.login-form-bg-container {
    min-height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    height :100%
  }
  @media screen and (min-width: 768px) {
    .login-form-bg-container {
      background-image: url('https://res.cloudinary.com/dc2b69ycq/image/upload/v1669698542/Movies%20App/netfilx_bg_vhdeeq.png');
      background-size: cover;
      padding-top: 48px;
      height :100%
    }
  }
  .website-logo-image-container {
    align-self: flex-start;
  }
  @media screen and (min-width: 768px) {
    .website-logo-image-container {
      display: block;
      margin-left: 130px;
      margin-bottom: 30px;
    }
  }
  .website-logo {
    width: 80px;
  }
  @media screen and (min-width: 768px) {
    .website-logo {
      width: 170px;
    }
  }
  .login-form-container {
    background-color: inherit;
    width: 100%;
    align-self: center;
    margin-top: 18px;
    border-radius: 25px;
  }
  @media screen and (min-width: 768px) {
    .login-form-container {
      height: 640px;
      width: 456px;
      padding-top:7px;
      padding-right:48;
      padding-left:48px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Roboto';
      background: #0c0b10;
      opacity: 0.8;
      outline: 2px solid #fff;
    }
  }
  .login-title {
    height: 40px;
    width: 78px;
    left: 681px;
    top: 356px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: underline;
  }
  .label {
    font-size: 13px;
    left: 0px;
    top: 0px;
    color: #ffffff;
    align-self: flex-start;
  }
  @media screen and (min-width: 768px) {
    .label {
      font-size: 14px;
    }
  }
  .input-field {
    height: 40px;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 22px;
    margin-top: 10px;
    background: #333333;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    outline: none;
    color: #e2e8f0;
    outline: 1px solid rgb(212, 211, 211);
  }
  @media screen and (min-width: 768px) {
    .input-field {
      width: 360px;
    }
  }

  .login-button {
    padding:8px;
    height: 30px;
    width: 80px;
    border-radius: 8px;
    background: #e50914;
    color: #ffffff;
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    .login-button {
      padding:8px;
      height: 80px;
      width: 80px;
      border-radius: 8px;
      background: #e50914;
      color: #ffffff;
      margin-top: 10px;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  .sign-in-btn {
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background: #e50914;
    color: #ffffff;
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .error-msg {
    font-size: 14px;
    color: #dc2626;
    align-self: flex-start;
    margin-top: 0px;
    margin-bottom: 18px;
  }
  @media screen and (min-width: 768px) {
    .error-msg {
      font-size: 16px;
    }
  }
  .register-text{
    color:#e2e8f0;
    font-weight: bold;
  }

  .gender-container{
    display:flex;
  }

  .check-element{
    display:flex;
  }

  .about-company-container{
    width: 300px;
   padding:2px;
    display: flex;
  }

  .option-contents{
    color:#e2e8f0
  }

  .city-options{
    margin-bottom:9px;
  }